<div class="container_database">
    
    <img src="/assets/control_center.gif" alt=""
        class="control_center_gif">
    <h1>Centre de contrôle de votre Base de Données.</h1>
    
    <div class="grid_database">
        <div class="grid_database_btn">
            <a href="" class="database_btn">Continent</a>
            <a href="" class="database_btn">Country</a>
            <a href="" class="database_btn">Destination</a>
            <a href="" class="database_btn">Category</a>
            <a href="" class="database_btn">Favory</a>
            <a href="" class="database_btn">Evenement</a>
            <a href="" class="database_btn">Travels</a>
            <a href="" class="database_btn">TravelsType</a>
            <a href="" class="database_btn">Comment</a>
            <a href="" class="database_btn">Rate</a>
            <a href="" class="database_btn">Visits</a>
            <a href="" class="database_btn">User</a>
        </div>
        <div class="grid_database_data">
            
        </div>
    </div>
