$primary-color: #0B203D

h2
    font-weight: 600
    font-size: 1.4em
    color: $primary-color
    margin: 6% 10% 1% 10%

.filters-list
    display: flex
    flex-direction: row
    width: 80%
    transition: transform 0.3s ease-in-out

    margin: 1% 10%
    padding: 1% 0
    border-top: 1px solid $primary-color
    border-bottom: 1px solid $primary-color

.filters-item
    padding: 0 40px
    text-align: center
    
    &:hover
        font-weight: 700
        cursor: pointer

.destinations-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2%
    margin: 0 10%
    width: 80%
    height: 100vh

.dest_cards
    border: 1px solid $primary-color
    height: 40vh
    width: auto

.dest_city, .dest_country
    color: $primary-color
    text-align: center
    margin-top: 1em

.dest_city
    font-size: 1.5em
    font-weight: 600

.dest_country
    font-size: 1.1em
    font-weight: 400

.cards
    width: 100%
    height: 100%