$primary-color: #0B203D

h2
    font-weight: 600
    font-size: 1.4em
    color: $primary-color
    margin: 6% 10% 1% 10%

.filters-list
    display: flex
    flex-direction: row
    width: 60%
    gap: 1%

    margin: 1% 10vw
    padding: 1% 0
    border-top: 1px solid $primary-color
    border-bottom: 1px solid $primary-color

.filters-item
    display: flex
    flex-direction: row
    width: 100%

.filters-svg
    width: 18px
    height: 18px
    margin-right: 5px