<div class="head">
    <div class="logo">
        <img src="../../assets/TravelAgency.png">
    </div>

    <div class="searchbar">
        <input
        type="text" name="searchbar" 
        id="searchbar" class="input_searchbar"
        placeholder="Rechercher">
    </div>
    
    
    <a href="connexion" id="login-link">
        <div class="login-button">
            Connexion
        </div>
    </a>
    <a href="inscription" id="signup-link">
        <div class="signup-button">
            Inscription
        </div>
    </a>
</div>